<h1>Welcome to MapsTwitch !</h1>
<h2>Des Google Maps, et du Twitch !</h2>

<div class="container">
    <ul>
        <li>
            <%= link_to "Pour Google Maps, c'est ici que ça se passe !", maps_path %>
        </li>
        <li>
            <%= link_to "Pour voir un stream du meilleur jeu de tous les temps, c'est là...", twitch_path %>
        </li>
    </ul>
</div>
