<h1>LA JOLIE MAAAAAAAAAAAP</h1>
<div id="googleMap" style="width: 50vw; height: 50vh;"></div>

<form id="form">
  Latitude: <input type="text"><br>
  Longitude: <input type="text"><br>
  Message: <input type="text"><br><br>
</form>
<input type="submit" value="Envoyer" onclick="getFormInfos()">

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=myMap"></script>
